include ../mixins/picture

section(class="banner")
  h2.
    Why stay hungry when you can order form Bella Onojie
  p.
    Download the bella onoje’s food app now on
  button(type="button").
    Playstore
  button(type="button").
    App store
  +picture({
    img: `appearance`,
    width: 422,
    height: 492,
    alt: `Appearance of our app`
  })
