section(class="download")
  h2.
    Download the app now.
  p.
    Available on your favorite store. Start your premium experience now
  button(type="button").
    Playstore
  button(type="button").
    App store
