include ../mixins/picture

-
  const StepType = {
    LEFT: `left`,
    RIGHT: `right`,
  };

mixin manual-step(props, imgProps, type = StepType.LEFT)
  - const {title, subtitle, description} = props;
    article
      div
        h3.
          #{title}
        p.
          #{subtitle}
        p.
          #{description}
      +picture(imgProps)

section(class="manual")
  h2.
    How the app works
  +manual-step(
    {
      title: `Create an account`,
      subtitle: `Create/login to an existing account to get started`,
      description: `An account is created with your email and a desired password`
    },
    {
      img: `manual-step-create`,
      width: 302,
      height: 525,
      alt: `Registration form of our app`
    }
  )
  +manual-step(
    {
      title: `Explore varieties`,
      subtitle: `Shop for your favorites meal as e dey hot.`,
      description: `Shop for your favorite meals or drinks and enjoy while doing it.`
    },
    {
      img: `manual-step-explore`,
      width: 302,
      height: 525,
      alt: `Food range in out app`
    },
    StepType.RIGHT
  )
  +manual-step(
    {
      title: `Checkout`,
      subtitle: `When you done check out and get it delivered.`,
      description: `When you done check out and get it delivered with ease.`
    },
    {
      img: `manual-step-checkout`,
      width: 302,
      height: 525,
      alt: `Payment options in our app`
    }
  )
