include ../mixins/picture

header(class="prime-header")
  +picture({
    img: `logo`,
    width: 104,
    height: 52,
    alt: `Bella Onojie`
  })
  nav
    ul
      li
        a(href="#blank").
          Home
      li
        a(href="#blank").
          Product
      li
        a(href="#blank").
          Faq
      li
        a(href="#blank").
          Contact
