include ../mixins/picture

footer(class="prime-footer")
  +picture({
    img: `logo`,
    width: 104,
    height: 52,
    alt: `Bella Onojie`
  })
  ul
    li
      a(href="#blank")
        <svg width="35" height="28" fill="#FA4A0C">
          <path d="M34.15 4.08c-1.23.52-2.56.9-3.94 1.05a6.8 6.8 0 003-3.76c-1.33.8-2.8 1.35-4.32 1.65a6.8 6.8 0 00-5-2.16 6.82 6.82 0 00-6.65 8.4A19.4 19.4 0 013.17 2.1a6.83 6.83 0 002.11 9.13 6.88 6.88 0 01-3.08-.86v.08a6.83 6.83 0 005.47 6.7 7.23 7.23 0 01-3.09.13 6.84 6.84 0 006.38 4.73A13.68 13.68 0 01.84 24.86a19.33 19.33 0 0010.48 3.06c12.55 0 19.42-10.4 19.42-19.43 0-.3 0-.59-.02-.88a14.7 14.7 0 003.43-3.53z" />
        </svg>
    li
      a(href="#blank")
        <svg width="42" height="42" fill="#FA4A0C">
          <path d="M36.21 5.38H6.75c-.7 0-1.28.57-1.28 1.28v29.46c0 .7.57 1.28 1.28 1.28h29.46c.7 0 1.28-.57 1.28-1.28V6.66c0-.7-.57-1.28-1.28-1.28zm-3.7 9.35h-2.56c-2 0-2.39.95-2.39 2.35v3.09h4.79L31.72 25h-4.16v12.4h-4.99V25H18.4v-4.83h4.17V16.6c0-4.13 2.53-6.39 6.22-6.39 1.77 0 3.28.14 3.73.2v4.32z" />
        </svg>
    li
      a(href="#blank")
        <svg width="39" height="39" fill="#FA4A0C">
          <path d="M27.63 3.25H11.38a8.13 8.13 0 00-8.13 8.13v16.24a8.13 8.13 0 008.13 8.13h16.24a8.13 8.13 0 008.13-8.13V11.38a8.13 8.13 0 00-8.13-8.12z"  />
          <path d="M26 18.48a6.5 6.5 0 11-12.86 1.9A6.5 6.5 0 0126 18.48zM28.44 10.56h.01" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
  p.
    Just type what's on your mind and we'll
  p.
    Copywright 2020 Bella Onojie.com
