doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="description" content="Bella Onojie - the best food app")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    title.
      Bella Onojie
  body
    include ../blocks/prime-header
    include ../blocks/prime-main
    include ../blocks/prime-footer
